<div class="container">

  <div class="head">
    <h1>SPIELÜBERSICHT</h1>
    <p>Hier warten bis ihr an der Reihe seid</p>
  </div>

  <p>Wörter noch im Topf</p>
  <div class="box">

    <div class="box-item">
      <% if  @words_left != nil %>
        <p><strong><%= @words_left.count %></strong></p>
      <% else %>
        <p><strong>0</strong></p>
      <% end %>
    </div>
    <div class="box-item">
      <%= link_to game_path(@game) do %>
        <p><i class="fas fa-sync-alt"></i>  </p>
      <% end %>
    </div>
  </div>

  <div class="button">
  <%= link_to game_words_path(@game) do %>
    Ich bin dran
  <% end %>
  </div>

</div>







