.button {
  color: #f8f9fa;
  border: 1px solid #3a424a;
  padding: 8px 24px;
  border-radius: 1px;

  opacity: 0.9;
  width: 100%;
  transition: opacity 0.3s ease;
  text-align: center;
  background-color: #3a424a;
  margin: 1rem 0;
  font-size: 20px;
  a{
    color: white;
    text-decoration: none;
  }

}

.button:hover{
  opacity: 1;

}
