.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 16px ;
  border-radius: 2px;
  min-width: 100px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #505050;
  border-radius: 2px;
    h2{
    margin:0;
  }


}
