#nav-old-tab{
  color: #000000;
}

#nav-new-tab{
  color: #000000;
}

.nav-tabs .nav-link.active{
     color: #000000;
     background-color: #ffffff;
     border-color: #0e0000 #0e0000 #f8f9fa00;

}

.nav-link.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.game{
margin: 1rem 16px ;

}

.game-item {
  margin: 1rem 0px;
  display: flex;
  justify-content: space-between;
  p {
  margin: 0;
  color: black;
  }

  a {
    text-decoration: none;
  }
}

